.postler-resource-body {
padding: 10px 0 10px 20px;
}


.postler-grid .postler-unpublished,
.postler-grid .postler-unpublished span,
.postler-grid .postler-unpublished a {
color: gray;
}
.x-grid3-body .x-grid3-td-checker {
background-image: none !important;
}

.postler-deleted, .postler-deleted span, .postler-deleted a,
.postler-grid .postler-deleted, .postler-grid .postler-deleted span, .postler-grid .postler-deleted a {
color: red !important;
}